<a href="https://colab.research.google.com/github/akinerk/python-notlari/blob/main/2_Print_Fonksiyonu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print üç farklı şekilde kullanılabilir

In [2]:
print("Akıner")
print('Akıner')
print("""Akıner""")

Akıner
Akıner
Akıner

Tek tırnak genelde çıktı içerisinde çift tırnak kullanılması gerektiğinde kullanılır

In [3]:
print('Sen bugün "Akıneri" gördün mü?')  # Bu tarz ifadeler tek tırnakla yazılır.

Sen bugün "Akıneri" gördün mü?

Üç çift tırnak geniş yazı alanlarına ihtiyaç duyulduğunda kullanılır.

In [9]:
print("""
Öğrenciler
1 - Akıner
2 - Ahmet
3 - Mehmet
""")  # Şeklinde kullanılır.

Öğrenciler
1 - Akıner
2 - Ahmet
3 - Mehmet

Eğer biz üç çift tırnak kullanmadan tek satırda yazdığımız şeylerin alt alta sıralanmasını istiyorsak "\n" ifadesini kullanırız.

In [10]:
print("Öğrenciler\n1 - Akıner\n2 - Ahmet\n3 - Mehmet")

Öğrenciler
1 - Akıner
2 - Ahmet
3 - Mehmet

Eğer stringlerin arasında farklı ifadeler kullanmak istiyorsak virgül kullanabiliriz

In [6]:
print("Akıner", 1337, "nerede")

Akıner 1337 nerede

"\n" gibi ifadeleri tek tek yazmak istemiyorsak sep= parametresini kullanabiliriz.

In [11]:
print("Akıner", "Ahmet", "Mehmet", sep="\n")

Akıner
Ahmet
Mehmet

<p>sep parametresine tanımlanan herhangi bir değer, fonksiyonun solunda kalan değerlerin arasına yerleştirilir.</p>
<p>Bu şekilde tek tek aralarına yazmaya gerek kalmadan otomatik istediğimiz stringi koyabiliriz.</p>
<p>Sep parametresine verdiğimiz değerler eğer stringse yine çift tırnak içinde yazılmalıdır.</p>

In [12]:
print("Akıner", "Ahmet", "Mehmet", sep=None)

Akıner Ahmet Mehmet

Eğer None değeri verirse, sep parametresi herhangi bir şey yapmayacaktır. None değeri verildiğinde, None büyük harfle başlamalıdır.